body{
    font-family: 'Fuggles', cursive;
font-family: 'Martian Mono', monospace;
font-family: 'Mooli', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.c1{
   color: #181818; 
   font-size: 45px;
   font-style: normal;
   font-weight: 800;
}
.c2{
    color: #fd6e0a;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
}
nav a{
    text-decoration: none;
    margin-right: 50px;
    color: #474747 ;
    
}
.c3{
    background: #fd6e0a;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 10px 20px;

}